<Files check_fighters.php>
    Order deny,allow
    Deny from all
</Files>

<Files check_mines.php>
    Order deny,allow
    Deny from all
</Files>

<Files common.php>
    Order deny,allow
    Deny from all
</Files>

<Files sector_fighters.php>
    Order deny,allow
    Deny from all
</Files>
